{% extends 'entries/base.html' %}

{% block content %}
<div class="col-md-8">
    <div class="card mb-4 mt-4">
        <div class="card-header">
            Create an account
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Create Account</button>
            </form>
            <br>
            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>
    </div>
</div>
{% endblock %}